body {
    background: #181E34;
    font-family: "Montserrat", "Arial", sans-serif;
    /* font-weight: 400; */
    /* font-size: 16px; */
    line-height: 150%;
    color: #fff;

}

.container {
    max-width: 930px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}

/* =========================================================== */

.header {
    padding: 30px 0 36px 0;
}





.header-inner {
    display: flex;
    align-items: center;
}

.header-nav {
    margin-left: auto;
}

.header-list {
    display: flex;
}

.header-item {
    margin-right: 30px;
}

.header-batton {
    font-weight: 500;
    padding: 14px 30px 14px 30px;
    color: #2766AE;
    border-radius: 100px;
    background: #ffffff;
}

/* ========================================================== */

.hero {
    padding: 120px 0;
    background: url("../img/hero-bg.jpeg") 10% 50% / cover no-repeat;
}

.hero-title {
    font-weight: 600;
    font-size: 40px;
    line-height: 49px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 60px;
}

.hero-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-text {
    max-width: 436px;
}

.hero-text span {
    text-transform: uppercase;
    font-weight: 700;
    color: #01a2cb;

}

.paragraph {
    margin-bottom: 15px;
}

.hero-buttons {
    display: flex;
    flex-direction: column;
    max-width: 320px;
    width: 100%;
}

.hero-batton-one,
.hero-batton-two {
    border-radius: 100px;
    padding: 18px 30px;
    max-width: 320px;
    display: flex;
    justify-content: center;
}

.hero-batton-two img {
    margin-left: 4px;
}

.hero-batton-one {
    background: linear-gradient(180.00deg, #00a4cc, #2766ae 100%);
    margin-bottom: 10px;
}

.hero-batton-two {
    background: linear-gradient(129.14deg, #00a4cc 5.913%, #2766ae 91.534%);
}

/* ================================================= */

.cards {
    padding: 120px 0;
}

.cards-title {
    font-weight: 600;
    font-size: 40px;
    line-height: 49px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.cards-text {
    text-align: center;
    margin: 0 auto 60px;
    max-width: 513px;
}

.cards-flex {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -14px;
    margin-bottom: -28px;
    padding-bottom: 30px;

}

.cards-flex-item {
    margin-bottom: 28px;
    flex: 0 0 25%;
    padding: 0 14px;

}

.cards-flex-inner {
    border: 2px solid #176bae;
    border-radius: 16px;
    box-shadow: 4px 4px 13px 0px #050d29c2;
    background: #197cb8;
    padding: 28px 15px;

}

.cards-flex-title {
    font-size: 22px;
    font-weight: 600;
    line-height: 27px;
    text-transform: uppercase;
    margin-bottom: 10px;
    text-align: center;

}

.cards-flex-text {

    text-align: center;
}

.hero-batton-one1 {
    border-radius: 100px;
    padding: 18px 30px;
    max-width: 436px;
    display: flex;
    justify-content: center;
    background: linear-gradient(180.00deg, #00a4cc, #2766ae 100%);
    margin: 0 auto;
}

/* ========================================================= */

.footer {
    border-top: 1px solid #323952;
    padding: 60px 0;
}

.footer-inner {
    display: flex;

}

.footer-desc {
    max-width: 267px;
    margin-right: auto;
}

.footer-desc a {
    display: inline-block;
    margin-bottom: 15px;
}

.footer-col {
    max-width: 204px;
    width: 100%;
}

.footer-col-margin {
    margin-right: 28px;
}

.footer-title {
    font-size: 22px;
    font-weight: 600;
    line-height: 27px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.footer-item {
    margin-bottom: 10px;
}